@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
* {
  padding: 0;
  margin: 0;
}
/* END OF RESET */

/* GENERAL */
html {
	color: #2b2b2b;
	font-family: Rubik, Helvetica, Arial, sans-serif;
	font-size: 16px;
}
html, body {
	width:100%;
}
/* INTRO */
#intro {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	height: 100vh;
	justify-content: center;
}
#intro div:first-child {
	width: 80%;
}
#intro h1 {
	background: url(../images/heading-bg.jpg) repeat-y;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 6s ease forwards;
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;

	font-size: 4.5em;
	font-weight: 500;
	margin-bottom: 0.2em;
}
@-webkit-keyframes aitf {
	from { background-position: left 25%; }
	to { background-position: left 65%; }
}
#intro h2 {
	font-size: 1.75em;
	margin-bottom: 1em;
}
#intro div:first-child div {
	display: flex;
	justify-content: space-between;
}
#intro p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-right: 3em;
	max-width: 38rem;
}
#intro a {
	align-self: center;
	border: #2b2b2b 3px solid;
	border-radius: 3px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	color: #2b2b2b;
	display: inline-block;
	font-size: 1.2em;
	font-weight: 400;
	min-width: 5.5em;
	padding: 0.7em 1em;
	text-align: center;
	text-decoration: none;
	transition: all 0.1s ease-in;
}
#intro a:hover {
	background-color: #2b2b2b;
	color: #ffffff;
}
/* Extra Small Devices, INTRO */
@media only screen and (max-width : 320px) {
	#intro h1 {
		font-size: 4em;
	}
}
/* Small Devices, INTRO */
@media only screen and (max-width : 767px) {
	#intro {
		font-size: 0.9rem;
	}
	#intro div:first-child {
		width: 90%;
	}
	#intro div:first-child div {
		flex-direction: column;
	}
	#intro p {
		margin-right: unset;
	}
	#intro a {
		align-self: flex-start;
		border: #2b2b2b 2px solid;
		font-weight: 400;
	}
}
/* Small Devices, INTRO */
@media only screen and (max-width : 768px) {
	#intro div:first-child div {
		flex-direction: column;
	}
	#intro a {
		align-self: flex-start;
		margin-top: 1.5em;
	}
}

/* PROJECTS */
#projects {
	background: #ffffff;
}

#projects h3 {
	font-size: 1.4em;
	margin-bottom: 0.25em;
}

#projects h4 {
	font-size: 1.2em;
	margin-bottom: 1em;
}

#projects .project {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#projects .project:nth-child(odd) {
	flex-direction: row-reverse;
}

#projects .project > div {
	width: 50%;
}

#projects .project > div:first-child {
	align-items: center;
	color: #ffffff;
	display: flex;
	justify-content: center;
}

#projects .project > div:first-child .project-info {
	padding: 7em;
}

#projects .project > div:nth-child(2) {
	min-height: 40%;
}

#projects .project > div > .project-info > .project-icons {
	align-items: center;
	display: flex;
	margin: 1em auto;
}

#projects .project > div > .project-info > .project-icons svg {
	margin: 0 0.2em;
	width: 3em;
}

#projects .project > div > .project-info > .project-icons svg:first-child {
	margin-left: -0.25em;
}

#projects .project > div > .project-info > .project-icons svg path {
	fill: #ffffff;
}

#projects .project > div > .project-info > .project-buttons a {
	border-radius: 3px;
	color: white;
	display: inline-block;
	margin-right: 5px;
	padding: 0.75em 1em;
	text-decoration: none;
}

@media only screen and (max-width : 1500px) {
	#projects .project > div:first-child .project-info {
		padding: 5em;
	}
}
@media only screen and (max-width : 1150px) {
	#projects .project > div:first-child .project-info {
		padding: 3em;
	}
}
@media only screen and (max-width : 1000px) {
	#projects .project > div:first-child .project-info {
		padding: 3em 2em;
	}
}
@media only screen and (max-width : 900px) {
	#projects .project > div:first-child .project-info {
		padding: 3em 1em;
	}
}
@media only screen and (max-width : 768px) {
	#projects .project > div:first-child .project-info {
		padding: 3em 2em;
	}
}
/* Small Devices, PROJECTS */
@media only screen and (max-width : 767px) {
	#projects .project > div {
		min-width: 100%;
	}
	#projects .project:nth-child(odd), #projects .project:nth-child(even) {
		flex-direction: column-reverse;
	}
	#projects .project > div:first-child .project-info {
		font-size: 0.9em;
		padding: 2.5em;
	}
}

/* CONTACT ME */
#contact {
	align-items: center;
	display: flex;
	justify-content: space-around;
	padding: 5em 4em;
}
#contact > div, #contact > form {
	width: 33%;
}
#contact > div:not(:last-child) {
	display: flex;
	flex-direction: column;
}
#contact .contact-message {
	padding: 2em;
}
#contact .contact-message h2 {
	font-size: 1.75em;
	margin-bottom: 0.75em;
}
#contact .contact-message h3 {
	font-size: 1.1em;
}
#contact .contact-message h3:nth-child(2) {
	margin-bottom: 0.75em;
}
#contact .contact-form {
	text-align: center;
}
#contact .contact-form fieldset {
	margin: 1rem 0;
	position: relative;
	width: 100%;
}
#contact .contact-form input:not([type="submit"]), #contact .contact-form textarea {
	border: none;
	border-bottom: 2px solid #777777;
	box-sizing: border-box;
	font-family: Rubik, Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding: 1.5em 0em 0.5em 0em;
	transition: border 0.2s ease-in;
	width: 100%;
}
#contact .contact-form input[type="submit"] {
	background: none;
	border: #2b2b2b 2px solid;
	border-radius: 3px;
	cursor: pointer;
	font-family: Rubik, Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding: 0.5em 0.8em;
	margin-top: 1em;
	transition: all 0.1s ease-in;
}
#contact .contact-form input[type="submit"]:hover {
	background-color: #2b2b2b;
	color: #ffffff;
}
#contact .contact-form input:not([type="submit"]):focus, #contact .contact-form textarea:focus {
	border-bottom: 2px solid #68B0FE;
	outline: none;
}
#contact .contact-form input:focus {
	outline: none;
}
#contact .contact-form label {
	left: 0em;
	pointer-events: none;
	position: absolute;
	top: 1.5em;
	transition: all 0.2s ease-in;
}
#contact .contact-form input:focus + label,
#contact .contact-form input:valid + label,
#contact .contact-form textarea:focus + label,
#contact .contact-form textarea:valid + label,
#contact .contact-form input.isFilled + label {
	font-size: 0.7em;
	left: 0em;
	top: 0.25em;
}
#contact .contact-img img {
	display: block;
	margin: auto;
}
@media only screen and (max-width : 950px) {
	#contact > div, #contact > form {
		width: 50%;
	}
	#contact .contact-message {
		padding: 2em 2em 2em 0;
	}
	#contact .contact-img {
		display: none;
	}
}
/* Small Devices */
@media only screen and (max-width : 767px) {
	#contact {
		flex-direction: column;
		padding: 2em;
	}
	#contact .contact-message {
		padding: 1em 2em;
	}
	#contact > div, #contact > form {
		width: 100%;
	}
}

/* FOOTER */
footer {
	align-items: center;
	background-color: #c7c7c7;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	justify-content: space-between;
	padding: 1.25em 2em;
}
footer .social-icons {
	align-items: center;
	display: flex;
	justify-content: center;
}
footer .social-icons svg {
	margin: 0 0.75em;
	transition: transform 0.2s ease-in;
	width: 2.25em;
}
footer .social-icons svg:hover {
	transform: translateY(-5px);
}
footer .social-icons svg path {
	transition: fill 0.2s ease-in;
}
footer .social-icons svg:hover path {
	fill: #131313;
}
/* Small Devices */
@media only screen and (max-width : 767px) {
	footer {
		flex-direction: column-reverse;
		padding: 1em;
	}
	footer p {
		margin-top: 1em;
	}
}